<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <!-- Contains common configuration for perception modules -->
    <arg name="discovery_frequency" default="1.0"/>
    <arg name="pub_frequency" default="10.0"/>
    <arg name="world_frame" default="odom"/>

    <!-- output topic -->
    <arg name="people_topic" default="/people"/>

    <node pkg="hubero_people_publisher" name="hubero_aggregated_data_publisher" type="aggregated_data_publisher_node" output="screen">
        <remap from="/people" to="$(arg people_topic)"/>
        <param name="discovery_frequency" value="$(arg discovery_frequency)"/>
        <param name="pub_frequency" value="$(arg pub_frequency)"/>
        <param name="target_frame" value="$(arg world_frame)"/>
    </node>
</launch>
