<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <!-- people data conversion -->
    <node pkg="cohan_planner_people_interface" type="tracked_persons_to_cohan_node" name="tracked_persons_to_cohan" output="screen"/>

    <!-- https://github.com/sphanit/CoHAN_Navigation/blob/master/cohan_navigation/launch/pr2_launch/pr2_nav.launch -->
    <!-- human pose prediction, for the local-planning -->
    <node pkg="human_path_prediction" type="human_path_prediction" name="human_path_prediction" output="screen">
        <remap from="~" to="/human_path_predict"/>
        <remap from="/human_path_predict/tracked_humans" to="/tracked_humans"/>
        <!--
            Injection of simulator data, instead of obtaining via feature extraction by the perception,
            is not allowed. Therefore remap from
                '/human_path_predict/external_human_paths'
            to
                '/humans_sim_node/MultiGoalPlanner/plans'
            as in CoHAN_Navigation, is ommited. Source code of the MultiGoalPlanner can be found here:
            https://github.com/sphanit/humans_nav/tree/master/multigoal_planner
        -->
        <remap from="/human_path_predict/external_human_trajs" to="/move_base_node/HATebLocalPlannerROS/human_local_trajs"/>
        <param name="velobs_mul" value="1.0"/>
        <param name="velscale_mul" value="2.0"/>
    </node>
    <node pkg="human_path_prediction" type="predict_goal.py" name="human_goal_predict" output="screen"/>
</launch>
