<?xml version="1.0" encoding="UTF-8"?>
<!-- See also the 'original' version launcher in 'local_planner_sarl.launch' -->
<launch>
    <!-- Define the version of the planner (original|star)-->
    <arg name="sarl_version" value="star" />

    <!-- launch the planner node (operates as the node instead of nav_core plugin) -->
    <include file="$(find sarl_star_ros)/launch/sarl_planner.launch">
        <!-- select planner version -->
        <arg name="type" value="$(arg sarl_version)" />

        <!-- configuration of subscribed topics -->
        <arg name="global_pose_topic" value="/amcl_pose" />
        <arg name="odom_topic" value="/mobile_base_controller/odom" />
        <arg name="people_topic" value="/people" />
        <arg name="global_costmap_topic" value="/move_base/global_costmap/costmap" />
        <arg name="goal_topic" value="/move_base/ExternalLocalPlannerROS/local_goal" />

        <!-- configuration of published topics -->
        <arg name="marker_topic_ns" value="/move_base/local_planner" />
        <!-- command must be sent to the ExternalLocalPlannerROS plugin that passes it to the navigation stack -->
        <arg name="cmd_vel_topic" default="/move_base/ExternalLocalPlannerROS/external_cmd_vel" />

        <!-- Robot parameters -->
        <arg name="vel_pref" default="0.5" />
        <arg name="robot_radius" default="0.275" />
        <arg name="goal_tolerance" default="0.2" />
    </include>

    <!--
        SRPB's logger will use computation times obtained from the external topic instead of counting
        the execution time of computeVelocityCommands
    -->
    <param name="/move_base/srpb/external_computation_times_topic" value="/sarl_star_node/computation_time"/>
    <param name="/move_base/srpb/external_computation_times_array_index" value="1"/>
</launch>
