<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <!-- Based on: pal_navigation_cfg_public/pal_navigation_cfg_tiago/launch/mapping_gmapping.launch -->
  <arg name="scan" default="scan"/>
  <arg name="laser_model" default="sick-571"/>
  <arg name="base_type" default="pmb2"/>

  <!-- File suffixes -->
  <arg name="base_type_suffix" value="" unless="$(eval arg('base_type') == 'omni_base')"/>
  <arg name="base_type_suffix" value="_omni" if="$(eval arg('base_type') == 'omni_base')"/>

  <arg name="config_file" default="$(find pal_navigation_cfg_tiago)/config/mapping/gmapping$(arg base_type_suffix).yaml"/>

  <node pkg="gmapping" type="slam_gmapping" name="slam_gmapping" output="screen">
    <remap from="scan" to="$(arg scan)"/>
    <rosparam file="$(arg config_file)" command="load"/>
  </node>
</launch>
