<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <!-- Based on: tiago_navigation/tiago_2dnav/launch/mapping.launch -->
  <arg name="scan" default="scan"/>
  <arg name="laser_model" default="sick-571"/>
  <arg name="mapping" default="gmapping"/>
  <arg name="param_file" default="$(find pal_navigation_cfg_tiago)/config/mapping/gmapping.yaml"/>

  <!-- SLAM -->
  <include file="$(find tiago_social_navigation)/launch/mapping_$(arg mapping).launch">
    <arg name="scan" value="$(arg scan)"/>
    <arg name="laser_model" value="$(arg laser_model)"/>
    <arg name="param_file" value="$(arg param_file)"/>
  </include>

</launch>
