<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <!-- Based on: tiago_navigation/tiago_2dnav/launch/state_machine.launch -->
  <!-- added 'config' arg to this launch file -->
  <arg name="state" default="localization"/>
  <arg name="public_sim" default="false"/>
  <arg name="base_frame" default="/base_footprint"/>
  <arg name="map_frame" default="/map"/>

  <!-- Real TIAGo has `pal_navigation_cfg_tiago` pkg with `state_machine.launch` that does not take `base_type` arg -->
  <!-- This is a launch compatibility hack (we will not likely use with `base_type` other than `base_type_default`) -->
  <arg name="base_type" default="pmb2"/>
  <arg name="base_type_default" value="pmb2"/>

  <!-- file suffixes -->
  <arg name="base_type_suffix" value="" unless="$(eval arg('base_type') == 'omni_base')"/>
  <arg name="base_type_suffix" value="_omni" if="$(eval arg('base_type') == 'omni_base')"/>
  <arg name="sim_suffix" value="" unless="$(arg public_sim)"/>
  <arg name="sim_suffix" value="_public_sim" if="$(arg public_sim)"/>

  <arg name="config" default="$(find pal_navigation_cfg_tiago)/config/state_machine/state_machine$(arg sim_suffix)$(arg base_type_suffix).yaml"/>

  <include file="$(find pal_navigation_cfg_tiago)/launch/state_machine.launch">
    <arg name="state" value="$(arg state)"/>
    <arg name="config" value="$(arg config)"/>
    <arg name="public_sim" value="$(arg public_sim)"/>
    <arg name="base_frame" value="$(arg base_frame)"/>
    <arg name="map_frame" value="$(arg map_frame)"/>
    <!-- `base_type` is not supported on the real robot configuration -->
    <arg name="base_type" value="$(arg base_type)" unless="$(eval arg('base_type') == arg('base_type_default'))"/>
  </include>
</launch>
