<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <!-- Based on: pal_navigation_cfg_public/pal_navigation_cfg_tiago/launch/localization_amcl.launch -->
  <arg name="scan_topic" default="scan_raw"/>
  <arg name="map_topic" default="vo_map"/>
  <arg name="multiple" default="false"/>
  <arg name="robot_namespace" default=""/>
  <arg name="base_type"     default="pmb2"/>
  
  <!-- File suffixes -->
  <arg name="base_type_suffix" value="" unless="$(eval arg('base_type') == 'omni_base')"/>
  <arg name="base_type_suffix" value="_omni" if="$(eval arg('base_type') == 'omni_base')"/>

  <!-- File with initial pose estimate -->
  <arg name="pose_estimate_file" default="$(env HOME)/.pal/pose.yaml"/>
  <!-- Configuration file -->
  <arg name="config_file" default="$(find pal_navigation_cfg_tiago)/config/localization/amcl$(arg base_type_suffix).yaml"/>
  
  <!-- http://wiki.ros.org/amcl -->
  <node pkg="amcl" type="amcl" name="amcl" output="screen">
    <remap from="scan" to="$(arg scan_topic)"/>
    <remap from="map" to="$(arg map_topic)"/>

    <!-- Load the last saved pose estimate (initial pose) -->
    <rosparam file="$(arg pose_estimate_file)" command="load"/>

    <!-- Load algorithm configuration file -->
    <rosparam file="$(arg config_file)" command="load"/>

    <param if="$(arg multiple)" name="odom_frame_id" value="$(arg robot_namespace)/odom"/>
    <param if="$(arg multiple)" name="base_frame_id" value="$(arg robot_namespace)/base_footprint"/>
    <param if="$(arg multiple)" name="global_frame_id" value="$(arg robot_namespace)/map"/>
  </node>
</launch>
