<?xml version="1.0" encoding="UTF-8"?>
<!-- Main launch that sets up the navigation in the mapping mode. This is called by 'scripts/navigation.sh' -->
<launch>
  <!-- Based on: tiago_simulation/tiago_2dnav_gazebo/launch/mapping.launch -->
  <arg name="scan" default="scan"/>
  <arg name="laser_model" default="sick-571"/>
  <!-- gmapping or kartographer (PAL advanced, must also adjust `param_file` then) -->
  <arg name="mapping" default="gmapping"/>
  <arg name="param_file" default="$(find pal_navigation_cfg_tiago)/config/mapping/gmapping.yaml"/>

  <!-- SLAM -->
  <include file="$(find tiago_social_navigation)/launch/2dnav_mapping.launch">
    <arg name="scan" value="$(arg scan)"/>
    <arg name="laser_model" value="$(arg laser_model)"/>
    <arg name="mapping" value="$(arg mapping)"/>
    <arg name="param_file" value="$(arg param_file)"/>
  </include>

</launch>
