<?xml version="1.0" encoding="UTF-8"?>
<!-- Launch designated for TIAGo task execution (assuming that 'navigation_base' provides basic navigation skills) -->
<launch>
  <!-- Based on: tiago_simulation/tiago_2dnav_gazebo/launch/tiago_navigation.launch -->
  <!-- === ARGUMENTS ========================================================================== -->
  <arg name="namespace" default="/"/>
  <!-- launching with `false` throws a dependency issue of `ResourceNotFound: pal_pcl_points_throttle_and_filter` -->
  <arg name="public_sim" default="true"/>

  <!-- move_<planner>; 'base' is related to 'pal_navigation_cfg_tiago/launch/move_BASE.launch' -->
  <arg name="planner" default="base"/>
  <!-- Global planner module -->
  <arg name="global_planner" default="navfn"/>
  <!-- Custom `local_planner` -->
  <arg name="local_planner" default="$(eval 'teb' if arg('public_sim') else 'pal')"/>
  <!-- Selection: (traditional|social|social_extended) -->
  <arg name="costmap_contexts" default="social"/>
  <!-- Module used for localization -->
  <arg name="localization" default="amcl"/>

  <!-- specific robot model setup -->
  <arg name="laser_model" default="sick-571"/>
  <!-- Map server parameter -->
  <arg name="map" default="$(env HOME)/.pal/tiago_maps/configurations/small_office/map.yaml"/>

  <!-- Run visualization by default -->
  <arg name="rviz" default="true"/>
  <!-- Usage of `true` requires extra software from PAL Robotics-->
  <arg name="advanced_navigation" default="false"/>
  <!-- Environment variable -->
  <env name="PAL_HOST" value="tiago"/>

  <!-- file suffixes -->
  <arg name="sim_suffix" value="" unless="$(arg public_sim)"/>
  <arg name="sim_suffix" value="_public_sim" if="$(arg public_sim)"/>

  <!-- === NODES ============================================================================== -->
  <group ns="$(arg namespace)">
    <include file="$(find tiago_social_navigation)/launch/navigation_base.launch">
      <arg name="state"          value="localization"/>
      <arg name="planner"        value="$(arg planner)"/>
      <arg name="global_planner" value="$(arg global_planner)"/>
      <arg name="local_planner"  value="$(arg local_planner)"/>
      <arg name="costmap_contexts" value="$(arg costmap_contexts)"/>
      <arg name="localization"   value="$(arg localization)"/>
      <arg name="map"            value="$(arg map)"/>
      <arg name="public_sim"     value="$(arg public_sim)"/>
      <arg name="rgbd_sensors"   value="$(arg advanced_navigation)"/>
      <arg name="laser_model"    value="$(arg laser_model)"/>
    </include>

    <group if="$(arg advanced_navigation)">
      <node name="rviz" pkg="rviz" type="rviz" if="$(arg rviz)"
            args="-d $(find tiago_2dnav)/config/rviz/advanced_navigation.rviz"/>
    </group>
    <group unless="$(arg advanced_navigation)">
      <node name="rviz" pkg="rviz" type="rviz" if="$(arg rviz)"
            args="-d $(find tiago_2dnav)/config/rviz/navigation$(arg sim_suffix).rviz"/>
    </group>
  </group>

  <!-- NOTE: pal_loc_measure started by gazebo_spawn launch -->
  <!-- NOTE: pointcloud to laserscan started by gazebo_spawn launch -->

  <!-- PAL advanced navigation -->
  <group if="$(arg advanced_navigation)">
    <include file="$(find pal_head_manager)/launch/tiago_head_manager.launch"/>
    <node pkg="tiago_2dnav" type="navigation_camera_mgr.py" name="navigation_camera_mgr" />
    <node pkg="pal_zoi_detector" type="zoi_detector_node" name="zoi_detector" />
    <include file="$(find pal_waypoint)/launch/pal_waypoint.launch"/>
    <include file="$(find pal_navigation_manager)/launch/poi_navigation_server.launch"/>
    <include file="$(find tiago_laser_sensors)/launch/rgbd_cloud_laser.launch">
      <arg name="cloud"  value="/xtion/depth_registered/points"/>
    </include>
    <include file="$(find pal_map_utils)/launch/map_configuration_server.launch">
      <env name="PAL_HOST" value="tiagoc"/>
    </include>
  </group>

</launch>
