<?xml version="1.0" encoding="UTF-8"?>
<!-- based on `tiago_simulation/tiago_2dnav_gazebo/launch/tiago_navigation.launch` -->
<launch>
  <!-- *** ARGUMENTS -->
  <arg name="namespace"      default="/"/>
  <!-- launching with `false` throws a dependency issue of"
  `ResourceNotFound: pal_pcl_points_throttle_and_filter` -->
  <arg name="public_sim"     default="true"/>

  <arg name="planner"        default="base"/>
  <arg name="global_planner" default="global_planner"/>
  <!-- PAL default `local_planner`:
  <arg name="local_planner"  default="$(eval 'teb' if arg('public_sim') else 'pal')"/>
  -->
  <!-- Custom `local_planner`: -->
  <arg name="local_planner"  default="hubero"/>
  <arg name="localization"   default="amcl"/>

  <arg name="laser_model"    default="sick-571"/>
  <arg name="world"          default="small_office"/>
  <arg name="map"            default="$(env HOME)/.pal/tiago_maps/configurations/$(arg world)"/>

  <!-- Usage of `true` requires extra software from PAL Robotics-->
  <arg name="advanced_navigation" default="false"/>
  <arg name="rviz" default="true"/>
  <env name="PAL_HOST" value="tiago"/>

  <!-- *** NODES -->
  <group ns="$(arg namespace)">
    <include file="$(find tiago_2dnav_gazebo)/launch/navigation.launch">
      <arg name="state"          value="localization"/>
      <arg name="planner"        value="$(arg planner)"/>
      <arg name="global_planner" value="$(arg global_planner)"/>
      <arg name="local_planner"  value="$(arg local_planner)"/>
      <arg name="localization"   value="$(arg localization)"/>
      <arg name="map"            value="$(arg map)"/>
      <arg name="public_sim"     value="$(arg public_sim)"/>
      <arg name="rgbd_sensors"   value="$(arg advanced_navigation)"/>
      <arg name="laser_model"    value="$(arg laser_model)"/>
      <arg name="config_base_path" value="$(find tiago_scenarios)/config/pal_navigation_cfg_tiago"/>
    </include>

    <!-- will potentially run second instance of rviz -->
    <group if="$(arg advanced_navigation)">
      <node name="rviz" pkg="rviz" type="rviz" if="$(arg rviz)"
            args="-d $(find tiago_2dnav)/config/rviz/advanced_navigation.rviz"/>
    </group>
  </group>

  <group if="$(arg advanced_navigation)">
    <!-- Advanced navigation -->
    <include file="$(find pal_head_manager)/launch/tiago_head_manager.launch"/>
    <node pkg="tiago_2dnav" type="navigation_camera_mgr.py" name="navigation_camera_mgr" />
    <node pkg="pal_zoi_detector" type="zoi_detector_node" name="zoi_detector" />
    <include file="$(find pal_waypoint)/launch/pal_waypoint.launch"/>
    <include file="$(find pal_navigation_manager)/launch/poi_navigation_server.launch"/>
    <include file="$(find tiago_laser_sensors)/launch/rgbd_cloud_laser.launch">
      <arg name="cloud"  value="/xtion/depth_registered/points"/>
    </include>
    <include file="$(find pal_map_utils)/launch/map_configuration_server.launch">
      <env name="PAL_HOST" value="tiagoc"/>
    </include>
  </group>

</launch>
