<!-- Based on https://github.com/tysik/obstacle_detector/blob/master/launch/nodes.launch -->
<!-- Reusable launch file for obstacle detection -->
<launch>

  <!-- .......................................... -->
  <arg name="frame_id"  default="map"/>
  <arg name="target_frame_id"  default="base_footprint"/>

  <!-- .......................................... -->
  <arg name="scans_merger_active"  default="false"/>
  <arg name="scans_merger_fixed_frame_id"  default="$(arg frame_id)"/>

  <arg name="merger_scan_front_topic"   default="scan_front"/>
  <arg name="merger_scan_back_topic"    default="scan_back"/>
  <arg name="merger_scan_output_topic"  default="scan_output"/>
  <arg name="merger_pcl_output_topic"   default="pcl_output"/>

  <node name="scans_merger" pkg="obstacle_detector" type="scans_merger_node">
    <param name="active"            value="$(arg scans_merger_active)"/>
    <param name="publish_scan"      value="true"/>
    <param name="publish_pcl"       value="false"/>

    <param name="ranges_num"        value="1000"/>

    <param name="min_scanner_range" value="0.05"/>
    <param name="max_scanner_range" value="10.0"/>

    <param name="min_x_range"       value="-10.0"/>
    <param name="max_x_range"       value="10.0"/>
    <param name="min_y_range"       value="-10.0"/>
    <param name="max_y_range"       value="10.0"/>

    <param name="fixed_frame_id"    value="$(arg scans_merger_fixed_frame_id)"/>
    <param name="target_frame_id"   value="$(arg target_frame_id)"/>

    <param name="scan_front_topic"        value="$(arg merger_scan_front_topic)"/>
    <param name="scan_back_topic"         value="$(arg merger_scan_back_topic)"/>
    <param name="scan_output_topic"       value="$(arg merger_scan_output_topic)"/>
    <param name="pcl_output_topic"        value="$(arg merger_pcl_output_topic)"/>

  </node>

  <!-- .......................................... -->
  <arg name="obstacle_extractor_active"  default="true"/>

  <arg name="extractor_scan_topic"      default="$(arg merger_scan_output_topic)"/>
  <arg name="extractor_pcl_topic"       default="$(arg merger_pcl_output_topic)"/>

  <node name="obstacle_extractor" pkg="obstacle_detector" type="obstacle_extractor_node">
    <param name="active"               value="$(arg obstacle_extractor_active)"/>
    <param name="use_scan"             value="true"/>
    <param name="use_pcl"              value="false"/>

    <param name="use_split_and_merge"    value="true"/>
    <param name="circles_from_visibles"  value="true"/>
    <param name="discard_converted_segments" value="true"/>
    <param name="transform_coordinates"  value="true"/>

    <param name="min_group_points"     value="3"/> <!-- 5 -->

    <param name="max_group_distance"   value="0.15"/> <!-- 0.1 -->
    <param name="distance_proportion"  value="0.00628"/>
    <param name="max_split_distance"   value="0.2"/>
    <param name="max_merge_separation" value="0.2"/>
    <param name="max_merge_spread"     value="0.2"/>
    <param name="max_circle_radius"    value="0.6"/>
    <param name="radius_enlargement"   value="0.3"/>

    <param name="frame_id"             value="$(arg frame_id)"/>

    <param name="scan_topic" value="$(arg extractor_scan_topic)"/>
    <param name="pcl_topic"  value="$(arg extractor_pcl_topic)"/>
  </node>

  <!-- .......................................... -->
  <arg name="obstacle_tracker_active"  default="false"/>

  <node name="obstacle_tracker" pkg="obstacle_detector" type="obstacle_tracker_node">
    <param name="active"                  value="$(arg obstacle_tracker_active)"/>

    <param name="loop_rate"               value="10.0"/>
    <param name="tracking_duration"       value="2.0"/>
    <param name="min_correspondence_cost" value="0.6"/>
    <param name="std_correspondence_dev"  value="0.15"/>
    <param name="process_variance"        value="0.1"/>  
    <param name="process_rate_variance"   value="0.1"/>  
    <param name="measurement_variance"    value="1.0"/> 

    <param name="frame_id"                value="$(arg frame_id)"/>

    <remap from="tracked_obstacles" to="obstacles"/>
  </node>

</launch>
<!-- -->
